    <style type="text/css" media="all">
        /*css reset */
        html,body,div,span,h1,h2,h3,h5,h6,p,code,small,strike,strong,sub,sup,b,u,i{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;} 
        article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} 
        body{line-height:1; font:normal 0.9em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;} 
        ol,ul{list-style:none; }
		li{	font-weight:600; }
        strong{font-weight:700; }
		h3 {font-weight:500; color:#e0514e;text-align:center;padding:0;width:auto}
		h4 {font-weight:500; color:#ffffff;text-align:center;padding:0;width:auto; border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
		h5 {font-weight:400; color:#50d943;text-align:center;padding:0;width:auto}
        
        h1{font:normal bold 2em/1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:left;padding:0;width:auto}
        h2{font:italic bold 1.3em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;padding:0;text-align:center;margin:20px 0;}
        p.pager{margin:5px 0 5px; font:bold 1em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999;}
        img.question-image{display:block;max-width:370px;margin:10px auto;border:1px solid #ccc;width:100%;height:auto;}
        #choice-block{display:block;list-style:none;margin:0;padding:0;color:#4e4e4e;}
        #submitbutton{background:#62a8ea; }
        .nextlevel{display:none;text-align:center;margin:8px auto;padding:10px 10px; border:2px solid #CFD8DC; cursor:pointer;}
        #explanation{margin:0 auto;padding:20px;width:75%; font-size:15px;}
        .choice-box{display:block;text-align:center;margin:8px auto;padding:10px 0;border:2px solid #CFD8DC;cursor:pointer; }
    </style>